ul{
	list-style: none;
}
/*div{
	border:1px solid gray;
}*/

.wraper{
	width:1200px;
	margin:0 auto;
}
.topBox{
	width:1200px;
	margin:0 auto;
	height:600px;
	/*border: 1px solid gray;*/
}

.titleBox{
	width:100%;
	height:100px;
	line-height: 100px;
	display: flex;
}

.titleBox .titleName{
	font-size:1.8em;
	font-weight: 200;
	color:#58a;
	width:800px;
}

.titleBox .titleName .tip{
	margin-left:50px;
	font-size:14px;
	color:black;
}

.titleBox .titleName .point{
	color:orange;
	font-weight: 800;
}

.titleBox .titlePrice{
	width:350px;
	margin-left:50px;
	font-size:10px;

}

.titleBox .titlePrice span{
	font-size:24px;
	color:orange;
	font-weight: 800;
	margin:0 5px;
}

.addressBox{
	width:100%;
	height:100px;
	line-height: 100px;
	display: flex;
}

.addressBox .leftBox{
	width:800px;
	height:100px;
}

.addressBox .leftBox .topBox{
	width:800px;
	height:50px;
	display: flex;
}

.addressBox .leftBox .topBox .imgBox{
	width:50px;
	height:50px;
	position: relative;
}

.addressBox .leftBox .topBox .imgBox img{
	width:70%;
	height:70%;
	position: absolute;
	left:5px;
	top:4px;
}

.addressBox .leftBox .topBox .txtBox{
	width:750px;
	height:50px;
	line-height: 50px;
}

.addressBox .leftBox .topBox .txtBox a{
	font-size:14px;
	color:#58a;
}

.addressBox .leftBox .topBox .txtBox a:hover{
	text-decoration:underline;
	cursor: pointer;
}


.addressBox .leftBox .bottomBox{
	width:800px;
	height:50px;
}

.addressBox .leftBox .bottomBox .phoneBox{
	height:50px;
	line-height: 50px;
	margin-left:10px;
	font-size:12px;
	color:#58a;
	font-weight: 800;
}
.addressBox .leftBox .bottomBox .phoneBox span{
	margin-left:5px;
	font-size:12px;
	color:gray;
}
.addressBox .rightBox{
	width:400px;
	height:100px;
}

.addressBox .rightBox button{
	width:160px;
	height:50px;
	border:1px solid #fff;
	border-radius: 5px;
	color:#fff;
	background: orange;
	font-size:20px;
	margin-left:50px;
}

.addressBox .rightBox button a{
	color:#fff;
}
.addressBox .rightBox button:hover{
	background: #FF7F00;
	cursor: pointer;
}

.secTitleBox{
	width:100%;
	height:100px;
	line-height: 100px;
	display: flex;
}

.secTitleBox h3{
	font-size:24px;
	color:#58a;
	font-weight: 200;
}

.box{
	 width: 1200px;
 	height: 300px;
	 overflow: hidden;
}
.secBox{
	width: 1500px;
}
.secBox ul{
	margin: 0px;
 padding: 0px;
}
.secBox ul li{
	display: block;
	width:300px;
	height:300px;
	float: left;
}

.secBox ul li img{
	width:100%;
	height:100%;
	border-style: none;
}
/*.secBox .sec{
	width:300px;
	height:300px;
}

.secBox .sec img{
	width:100%;
	height:100%;
}*/

.homeTypeName{
	width:1200px;
	margin:0 auto;
	height:100px;
	line-height: 100px;
	color:#58a;
	font-size: 20px;
	font-weight: 200;
}

.searchBox{
	width: 1200px;
	height:100px;
	line-height: 100px;
	margin:0 auto;
}

.homeList{
	width:1200px;
	margin:0 auto;
}

.homeListName{
	height: 50px;
	width:1200px;
	background:#EBEBEB;
	display: flex;
}

.homeListName div{
	height:50px;
	line-height: 50px
}

.homeListName .List1{
	width:280px;
	margin-right:20px;
	border-right:1px solid #FFF8DC;
	/*padding-left:20px;*/
}

/*.homeListName .List2{
	width:100px;
}
.homeListName .List3{
	width:100px;
}
.homeListName .List4{
	width:100px;
}
.homeListName .List5{
	width:100px;
}*/
.homeListName .List6{
	width:300px;
}
.homeListName .List7{
	width:400px;
}


.masterUl{
	width:1200px;
	margin:0 auto;
	background: #F8F8FF;
}

.masterLi{
	width:1200px;
	display: flex;
}

.masterLi .List1{
	width:280px;
	margin-right:20px;
	border-right:1px solid  #FFF8DC;
}

.masterLi .List1 .List1Name{
	width:280px;
	height:50px;
	line-height: 50px;
}

.masterLi .List1 .List1Img{
	width:150px;
	height:100px;
}
.masterLi .List1 .List1Img img{
	width: 100%;
	height: 100%;
}

.masterLi .subUl{
	width:900px;
}

.masterLi .subUl li{
	width:900px;
	height:80px;
	line-height: 80px;
	display: flex;
}

/*.masterLi .subUl li .List2{
	width:100px;
}
.masterLi .subUl li .List3{
	width:100px;
}
.masterLi .subUl li .List4{
	width:100px;
}
.masterLi .subUl li .List5{
	width:100px;
}*/
.masterLi .subUl li .List6{
	width:300px;
}
.masterLi .subUl li .List7{
	width:400px;
}

.masterLi .subUl li .List7 span{
	font-size:20px;
	font-weight: 800;
	color:orange;
}

.masterLi .subUl li .List8{
	width:200px;
}

.masterLi .subUl li .List8 .orderBtn{
	height:50px;
	width:100px;
	border:1px solid orange;
	background: orange;
	border-radius: 5px;
	margin-left:20px;
	margin-top:10px;
}

.masterLi .subUl li .List8 .orderBtn:hover{
	background: #FF7F00;
	cursor: pointer;
}

.masterLi .subUl li .List8 .orderBtn .BtnTop{
	height:35px;
	line-height: 35px;
	color:#fff;
	text-align: center;
	border:none;
}
.masterLi .subUl li .List8 .orderBtn .BtnBottom{
	height:15px;
	line-height: 15px;
	background: #fff;
	color:gray;
	text-align: center;
	font-size:10px;
	border:none;
}

.homeIntroName{
	width:1200px;
	margin:0 auto;
	height:100px;
	line-height: 100px;
	color:#58a;
	font-size: 20px;
	font-weight: 200;
}

.homeIntroContent{
	width:1200px;
	margin:0 auto;
	font-size:14px;
	color:gray;
}

.homeOrderName{
	width:1200px;
	margin:0 auto;
	height:100px;
	line-height: 100px;
	color:#58a;
	font-size: 20px;
	font-weight: 200;
}

.homeOrderContent{
	width:1200px;
	margin:0 auto;
	font-size:14px;
	color:gray;
}
.homeRouteName{
	width:1200px;
	margin:0 auto;
	height:100px;
	line-height: 100px;
	color:#58a;
	font-size: 20px;
	font-weight: 200;
}

.homeRouteContent{
	width:1200px;
	margin:0 auto;
	font-size:14px;
	color:gray;
}

.homeCommentName{
	width:1200px;
	margin:0 auto;
	height:100px;
	line-height: 100px;
	color:#58a;
	font-size: 20px;
	font-weight: 200;
}

.homeCommentContent{
	width:1200px;
	margin:0 auto;
}

.homeCommentContent li{
	width:1200px;
	display: flex;
	background: #F8F8FF;
}

.homeCommentContent li .leftBox{
	width:300px;
	border-top:2px solid #EBEBEB;;
}

.homeCommentContent li .leftBox .imgBox{
	width:300px;
	height: 100px;
}

.homeCommentContent li .leftBox .imgBox img{
	width:80px;
	height: 80px;
	margin-left:110px;
	margin-top:10px;
}

.homeCommentContent li .leftBox .nameBox{
	width:300px;
	height: 30px;
	text-align: center;
}

.homeCommentContent li .rightBox{
	width:900px;

}

.homeCommentContent li .rightBox .pointBox{
	width:900px;
	height: 30px;
	line-height: 30px;
	font-size:12px;
	color:gray;
	position: relative;
	background:#EBEBEB;
}
.homeCommentContent li .rightBox .pointBox .point{
	margin:0 3px;
	color:orange;
	font-size:14px;
}

.homeCommentContent li .rightBox .pointBox .inTime{
	width:250px;
	height: 30px;
	line-height: 30px;
	font-size:12px;
	color:gray;
	position: absolute;
	right:0;
	top:0;
}
.homeCommentContent li .rightBox .pointBox .inTime span{
	margin:0 3px;
}
.homeCommentContent li .rightBox .contentBox{
	height:100px;
	width:850px;
	padding-top:2px;
}
.homeCommentContent li .rightBox .footBox{
	width:850px;
	height: 30px;
	line-height: 30px;
	font-size:12px;
	color:gray;

}

/*评论*/
.news_comment_title{
	width:600px;
	height:40px;
	line-height: 40px;
	display: flex;
}
.news_comment_title h3{
	width:200px;
	color:#58a;
	font-size: 20px;
	font-weight: 200;
}
.news_comment_point{
	display: flex;
}
.news_comment_point .words{
	margin-right:10px;
	color:#58a;
}
.news_comment_p{
	display: none;
}
.news_comment textarea{
	margin-top:20px;
	display: block;
	width:500px;
	height:100px;
}

.news_comment .subBtn{
	margin-top:10px;
	margin-left:200px;
	padding: 5px 10px;
	background: #58a;
	color:#fff;
	margin-bottom: 50px;
	border:none;
}