ul{
	list-style:none;
}
.wraper{
	width:1200px;
	margin: 0 auto;
}

.promptBox{
	width:1200px;
	height:100px;
	line-height: 100px;
	margin:20px auto 0 auto;
	display: flex;
}

.promptBox h2{
	font-size:2em;
	color:#B9D3EE;
	font-weight: 700;
}
.titleBox{
	width:600px;
	height:100px;
}
.titleBox .titleInput{
	width:600px;
	height:100px;
	line-height: 100px;
	border:none;
	font-size: 28px;
}
.stepBox{
	width:600px;
	height:100px;
	display: flex;
}
.stepIcon{
	width:40px;
	height:40px;
	margin:30px 10px;
	background-color: gray;
	border-radius: 50%;
}

.selected{
	background: #58a;
}
.stepIcon span{
	height:40px;
	line-height: 40px;
	display: block;
	color:#fff;
	text-align: center;
	font-size: 1.2em;
}

hr{
	width:1200px;
	margin:0 auto;
	background: #B9D3EE;
	color:#B9D3EE;
	height:2px;
}
.stepText{
	width:100px;
	height:40px;
	margin:30px 0px;
}
.stepText span{
	height:40px;
	line-height: 40px;
	display: block;
	text-align: center;
	font-size: 1.2em;
}



.wraper .data{
	display: flex;
	margin: 20px 0 10px 0;
}

.data .leftBox{
	width:300px;
	height: 400px;
}

.data .leftBox h3{
	font-size:24px;
	font-weight: 200;
}
.data .headImg{
	width:200px;
	height: 200px;
	margin: 10px 0 30px 0;
}
.data.headImg input{
	width: 100%;
	height: 100%;
}


.data .rightBox{
	width:700px;
	height: 400px;
	margin-left:50px;
	display: flex;
}

.rightBox .btnBox{
	width:100px;
	height:50px;
	margin-top:300px;
	margin-left:50px;
}


/*input样式*/

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.addressInput		{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.addressInput:focus 		{ outline:none; }

/* LABEL ======================================= */
.addressLabel 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.addressInput:focus ~ .addressLabel , .addressInput:valid ~ .addressLabel  		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.addressInput:focus ~ .bar:before, .addressInput:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.addressInput:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}



/*textarea样式*/

textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 330px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

